// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.l-cards {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
