// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
   display: grid;
   grid-template-areas:
      "header header"
      "sidebar main";
   grid-template-columns: 1fr 25fr;
   grid-template-rows: 5vh 95vh;
}
