// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// ----

.c-card {
    margin: 10px; // ver depois
    background-color: #264b5d;
    color: #f5da72;
    & p {
        font-size: 13px;
        color: whitesmoke;
    }
    & .card-text--up{
        padding-bottom: 7px;
    }
}
