// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// ----

.c-card {
  margin: 10px; // ver depois
  background-color: $base-color;
  color: $secondary-color;
  & p {
    font-size: 13px;
    color: $white-color;
  }
  & .card-text--up {
    padding-bottom: 7px;
  }
}
