.table-container {
    display: flex;
    justify-content: space-around;
}

.table {
  background-color: $base-color;
  margin: 2px;
  color: $white-color;

  :hover {
    cursor: pointer;
  }
  & thead {
    color: $secondary-color;
  }
  & td {
    font-size: 15px;
  }
  & .table-symbol {
    color: $secondary-color;
  }
  border-radius: 3px;
}
@media (max-width: 600px) {
  .table-container{
  flex-wrap:wrap;
  }
  .table-var,
  .table-max {
    display: none;
  }
}
