.table {
  background-color: #264b5d;
  margin-top: 10px;
  color: whitesmoke;
  :hover {
    cursor: pointer;
  }
  & thead {
    color: #f5da72;
  }
  & td {
    font-size: 13px;
  }
  & .table-symbol {
    color: #f5da72;
  }
  border-radius: 3px;
}
@media (max-width: 800px) {
  .table-max {
    display: none;
  }
}
@media (max-width: 600px) {
  .table-min,
  .table-max {
    display: none;
  }
}
