.table {
  background-color: $base-color;
  margin-top: 10px;
  color: $white-color;
  :hover {
    cursor: pointer;
  }
  & thead {
    color: $secondary-color;
  }
  & td {
    font-size: 13px;
  }
  & .table-symbol {
    color: $secondary-color;
  }
  border-radius: 3px;
}
@media (max-width: 600px) {
  .table-var,
  .table-max {
    display: none;
  }
}
