<nav class="l-header">

    <a class="l-header-active" href="#">Bootstrap Investment</a>

    <a href="https://www.bcb.gov.br/" target="blank">Banco Central</a>

    <a href="https://www.tesourodireto.com.br/" target="blank">Tesouro Direto</a>

    <a href="https://www.b3.com.br/pt_br/" target="blank">B3</a>

    <a href="#" class="l-header-right l-header-right-active"><i class="fa-solid fa-user"></i> Login</a>
    
    <a href="https://github.com/wwweslei/QuantitativeTrading" target="blank" class="l-header-right" id="git"><i
        class="fa-brands fa-github"></i> Source</a>
</nav>