// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the core/application.
// -----------------------------------------------------------------------------

$layout-name: "l-header";

.#{$layout-name} {
  background-color: $dark-grey;
  grid-area: header;
  border-bottom: 2px solid #6b6a6a;

  a {
    float: left;
    color: $light-white;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 13px;
    font-family: $text-font-stack;
  }

  .l-header-right {
    float: right;
  }

  a[href="https://github.com/wwweslei/QuantitativeTrading"]{
    color: $light-green;
  }
  .l-header-right-active {
    background-color: $light-green;
    color: black;
  }
  .l-header-active {
    font-weight: bold;
    background-color: $light-green;
    color: black;
  }
  a:hover {
    background-color: $light-green;
    color: black;
    text-decoration: underline;
  }
  .l-header-right-active:hover {
    background-color: $dark-grey;
    color: $light-green;
    text-decoration: underline;
  }
}
