{% extends '../core/layouts/base.html' %} {% load static %} {% block header %}
{% include '../core/includes/navbar.html' %} {% endblock header %} {% block main%}
<section class="position-absolute top-50 start-50 translate-middle">
  <div class="card shadow-lg c-card--login">
    <div class="card-body p-5">
      <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
      {% load crispy_forms_tags %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {{ form|crispy }}
        <div class="d-flex align-items-center ">
          <div class="form-check">
            <a href="{% url 'password_reset' %}" 
              >Redefinir senha</a
            >
          </div>
          <button type="submit" class="btn btn-card ms-auto">Login</button>
        </div>
      </form>
    </div>
    <div class="card-footer py-3 border-0">
      <div class="text-center">
        Não tem uma conta?
        <a href="register.html" class="text-dark">Crie uma</a>
      </div>
    </div>
  </div>
</section>
{% endblock main %}
