{% extends 'core/layouts/base.html' %}
{% load static %}
{% block title %}
    {{'accounts' }}
{% endblock title %}
{% block header %}
    {% include 'core/includes/navbar.html' %}
{% endblock header %}
{% block main %}
    <section class="position-absolute top-50 start-50 translate-middle">
        <div class="card shadow-lg c-card--registration">
            <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Mudança de senha bem sucedida</h1>
                <h2 class="fs-4 card-title mb-4">Sua senha foi alterada.</h2>
            </div>
        </div>
    </section>
{% endblock main %}
