{% extends 'core/layouts/base.html' %}
{% load static %}
{% block header %}
    {% include 'core/includes/navbar.html' %}
{% endblock header %}
{% block main %}
    <section class="position-absolute top-50 start-50 translate-middle">
        <div class="card shadow-lg c-card--registration">
            <div class="card-body p-5">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>
                                <h1 class="fs-4 fw-bold mb-4">{{ message }}</h1>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <h1 class="fs-4 card-title fw-bold mb-4">Conta Trading</h1>
                {% load crispy_forms_tags %}
                <form method="post">
                    {% csrf_token %} {{ form|crispy }}
                    <div class="d-flex flex-row-reverse">
                        <div class="form-check">
                            <button type="submit" class="btn btn-card ms-auto">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer py-3 border-0">
                <div class="text-center">
                    Não tem uma conta?
                    <a href="{% url 'signup' %}">Crie uma</a>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
