// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$body_bg_color : #121212;

$base-color : #264b5d;

$secondary-color : #f5da72;

$white-color : rgb(252, 249, 249);