// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$body_bg_color : #121212;

$base-color : #264b5d;

$primary-color : #417690;

$secondary-color : #f5da72;

$white-color : rgb(252, 249, 249);

$white-color--light : #a9c1cd;

$tradingView-color :#131722