{% extends 'core/layouts/base.html' %}
{% block title %}
    {{ title.title }}
{% endblock title %}
{% block header %}
    {% include 'core/includes/navbar.html' %}
{% endblock header %}
{% block main %}
    <main class="l-main">
        <section class="page_error">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-10 col-sm-offset-1 text-center">
                            <div class="four_zero_four_bg_400">
                                <h1 class="text-center">400</h1>
                            </div>
                            <div class="content_box">
                                <br>
                                <h3 class="h2">400 Bad Request</h3>
                                <br>
                                <a href="{% url 'index' %}">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}
