<section class="l-cards">
    <div class="c-card">
        <h4>IBOV</h4>
        <p>
            {{ card_info.ind.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.ind.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>DÓLAR</h4>
        <p>
            {{ card_info.wdo.last_value|floatformat:3 }}
        </p>
        <p class="js-card_pct">
            {{ card_info.wdo.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>BITCOIN</h4>
        <p>
            {{ card_info.btc.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.btc.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>SMAL</h4>
        <p>
            {{ card_info.smal.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.smal.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>XFIX</h4>
        <p>
            {{ card_info.xfix.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.xfix.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>S&P 500</h4>
        <p>
            {{ card_info.sp.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.sp.pct|floatformat:2 }}%
        </p>
    </div>
    <div class="c-card">
        <h4>NASDAQ</h4>
        <p>
            {{ card_info.nasdaq.last_value|floatformat:"2g" }}
        </p>
        <p class="js-card_pct">
            {{ card_info.nasdaq.pct|floatformat:2 }}%
        </p>
    </div>
</section>
