<div class="card-group">
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">IBOV</h5>
            <p class="card-text card-text--up">
                {{ card_info.ind.last_value|floatformat:"2g" }}
            </p>
            <p class="card-text">{{ card_info.ind.pct|floatformat:2 }}%</p>
        </div>
    </div>
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">DÓLAR</h5>
            <p class="card-text card-text--up">
                {{ card_info.wdo.last_value|floatformat:3 }}
            </p>
            <p class="card-text">{{ card_info.wdo.pct|floatformat:2 }}%</p>
        </div>
    </div>
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">BITCOIN</h5>
            <p class="card-text card-text--up">
                {{ card_info.btc.last_value|floatformat:"2g" }}
            </p>
            <p class="card-text">{{ card_info.btc.pct|floatformat:2 }}%</p>
        </div>
    </div>
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">SMAL</h5>
            <p class="card-text card-text--up">
                {{ card_info.smal.last_value|floatformat:"2g" }}
            </p>
            <p class="card-text">{{ card_info.smal.pct|floatformat:2 }}%</p>
        </div>
    </div>
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">XFIX</h5>
            <p class="card-text card-text--up">
                {{ card_info.xfix.last_value|floatformat:"2g" }}
            </p>
            <p class="card-text">{{ card_info.xfix.pct|floatformat:2 }}%</p>
        </div>
    </div>
    <div class="card text-end c-card">
        <div class="card-body">
            <h5 class="card-title text-start">S&P 500</h5>
            <p class="card-text card-text--up">
                {{ card_info.sp.last_value|floatformat:"2g" }}
            </p>
            <p class="card-text">{{ card_info.sp.pct|floatformat:2 }}%</p>
        </div>
    </div>
</div>
