<nav class="l-sidebar">
    <a  href="#"><i class="l-sidebar-active fa fa-home"></i></a>
    <a  href="#"><i class="fa-solid fa-search"></i></a>
    <a  href="#"><i class="fa-solid fa-folder"></i></a>
    <a  href="#"><i class="fa-solid fa-bar-chart"></i></a>
    <a  href="#"><i class="fa-solid fa-dollar-sign"></i></a>
    <a  href="#"><i class="fa-solid fa-calculator"></i></a>
    <a  href='admin/'><i class="fa-solid fa-gear"></i></a>
    <a  href='#'><i class="fa-solid fa-refresh"></i></a>
</nav>
