<!-- TradingView Widget BEGIN -->
<iframe scrolling="no"
        allowtransparency="true"
        frameborder="0"
        src="https://www.tradingview-widget.com/embed-widget/stock-heatmap/bovespa/?locale=br#%7B%22exchanges%22%3A%5B%5D%2C%22dataSource%22%3A%22AllBR%22%2C%22grouping%22%3A%22sector%22%2C%22blockSize%22%3A%22market_cap_basic%22%2C%22blockColor%22%3A%22change%22%2C%22symbolUrl%22%3A%22%22%2C%22colorTheme%22%3A%22dark%22%2C%22hasTopBar%22%3Atrue%2C%22isDataSetEnabled%22%3Afalse%2C%22isZoomEnabled%22%3Afalse%2C%22hasSymbolTooltip%22%3Atrue%2C%22width%22%3A%22100%25%22%2C%22height%22%3A%22100%25%22%2C%22utm_source%22%3A%22www.investidor.b3.com.br%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22stock-heatmap%22%7D"
        title="stock heatmap TradingView widget"
        lang="en"
        style="user-select: none;
               box-sizing: border-box;
               display: flex;
               height: 670px;
               width: 100%">
</iframe>
<!-- TradingView Widget END -->
