<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-responsive table-hover table-sm table-one">
        <thead>
          <tr>
            <th scope="col">Cod</th>
            <th scope="col">Nome</th>
            <th scope="col">Último</th>
            <th class="table-max" scope="col">Máximo</th>
            <th class="table-min" scope="col">Mínimo</th>
            <th scope="col">Var. %</th>
            <th scope="col">Variação</th>
          </tr>
        </thead>
        <tbody>
          {% for view in overview_high %}
          <tr>
            <td class="table-symbol">{{view.symbol}}</td>
            <td>{{view.name|title}}</td>
            <td>{{view.last}}</td>
            <td class="table-max">{{view.high}}</td>
            <td class="table-min">{{view.low}}</td>
            <td>{{view.change_percentage}} %</td>
            <td>{{view.change}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-responsive table-hover table-sm table-two">
        <thead>
          <tr>
            <th scope="col">Cod</th>
            <th scope="col">Nome</th>
            <th scope="col">Último</th>
            <th class="table-max" scope="col">Máximo</th>
            <th class="table-min" scope="col">Mínimo</th>
            <th scope="col">Var. %</th>
            <th scope="col">Variação</th>
          </tr>
        </thead>
        <tbody>
          {% for view in overview_low %}
          <tr>
            <td class="table-symbol">{{view.symbol}}</td>
            <td>{{view.name|title}}</td>
            <td>{{view.last}}</td>
            <td class="table-max">{{view.high}}</td>
            <td class="table-min">{{view.low}}</td>
            <td>{{view.change_percentage}} %</td>
            <td>{{view.change}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
