<iframe
width="320"
height="467"
src="https://ssltsw.investing.com?lang=12&forex=2103,1617,1513,1,3,9,10&commodities=8833,8849,8830,8836,8832,8918,8911&indices=23660,941612,44336,480,179,170,174&stocks=358,474,446,345,346,347,348&tabs=1,2,3,4"
></iframe>

<iframe
width="320"
height="467"
frameborder="0"
allowtransparency="true"
marginwidth="0"
marginheight="0"
src="https://br.widgets.investing.com/top-cryptocurrencies?theme=lightTheme&hideTitle=true"
></iframe>

<iframe
width="530"
height="467"
frameborder="0"
allowtransparency="true"
marginwidth="0"
marginheight="0"
src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=110,17,29,25,32,6,37,36,26,5,22,39,14,48,10,35,7,43,38,4,12,72&calType=day&timeZone=12&lang=12"
></iframe>

<iframe
width="530"
height="467"
src="https://sslcharts.investing.com/index.php?force_lang=12&pair_ID=2103&timescale=3600&candles=50&style=candles"
></iframe>
